/* text */
.text-center {
    text-align: center;
}

.heading-small{
    font-size: 1.25rem;

}

.heading-medium{
    font-size: 1.5rem;
}

.heading-big{
    font-size: 1.75rem;
}
/* colors */

.bg-1 {
    background:#789395;
}
.bg-2 {
    background:#94B49F;
}
.bg-3 {
    background:#B4CFB0;
}
.bg-4 {
    background:#E5E3C9;
}

/* buttons  */

.btn {
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
}

.btn-primary {
    background: #789395;
}

.btn-green {
    background: #E5E3C9;
}

.btn-primary:hover {
    color: #789395;
    background: white;
    border: 0.5px #789395 solid;
}

.btn-green:hover {
    color: #E5E3C9;
    background: white;
    border: 0.5px #E5E3C9 solid;
}

.btn-block {
    width: 100%;
    text-align: center;
}
/* forms */
.form-group{
    padding: 0.25rem 0;

}
.form-group label{
    display: block;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;
}

/* container */

.container {
    max-width: 1100px;
    margin: 0 auto;
}
